// Susy setup -------------------------------------------

$susy: (
columns      	: 12,
gutters			: 1,
math 			: fluid,
gutter-position	: inside, 
);

$grid-padding	: 1em;

@include global-box-sizing; // susy sets it to this value by default

body {
	@include show-grid(background);
	@include global-box-sizing;
}

// Header -------------------------------------------------

header {
	.header-container {
		text-align: center;

		.branding {

			margin: 10px auto;
			
			h2 {
				color: $blue;
				span { color:  $light-gray;}
			}
			h6 {color: $dark-gray;}
		} // branding

		.navbar {
			li {
				padding: 0 5%;
				background: $blue;
				vertical-align: middle;
				border-bottom: 1px solid lighten($blue, 10%);

				&:last-of-type {
					border-bottom: none;
				}

				a {
					display: inline-block;
					color: white;
					padding: 10px 0;
					font-size: 1.25rem;
				} // a
			} // li
		} // navbar
	} // header-container

	@include breakpoint($small) {
		.header-container {
			text-align: left;
			padding: 0 $grid-padding;

			.branding {
				@include container;
				max-width: $max-width;
			}
			.navbar {
				@include container;
				max-width: $max-width;
				
				.navbar-box {
					@include horizontal-list;
					margin-bottom: 20px;

					li { 
						padding: 10px 40px 10px 0;
						background: none;
						border-bottom: none;
						a {
						/*	border-bottom: 5px solid $blue;*/
							color: $gray;
							&:hover {
								@include transition(all 0.25s);
								color: $blue;
							}
						} // a							
					} // li
				} // navbar-box
			} // navbar
		} // header-container
	} // > breakpoint $small
} // header


.main-container {
	@include container;
	max-width: $max-width;
	padding: 0 $grid-padding;
	margin-top: 30px;
}

// Jumbo ---------------------------

.jumbo {
	width: 100%;
	height: 350px;
	text-align: center;
	border-bottom: 1px solid $light-gray;
	
	.jumbo-container {
		position: relative;
		max-width: $max-width;
		height: 350px;
		padding: 0 $grid-padding;

		.jumbo-marketing {
			padding-top: 10px;
		
	  	} // jumbo-marketing

	  	h1 {  color: $blue;}

  		img {
  			position: absolute;
  			display: block;
  			bottom: 0;
  			left: 0;
  			right:  0;
  			margin: auto;
  			height: 200px;
  		}
	 
	} // jumbo-container

	@include breakpoint($small) {
		height: 400px;
		text-align: left;

		.jumbo-container {
			@include container;
			max-width: $max-width;
			height: 100%;
			position: relative;

			.jumbo-marketing {
				padding-top: 50px;
				@include span(6);
				h1 { padding-left: 25%;}

			} // jumbo-marketing
		
			img {			
				position: absolute;
				margin-left: span(6);
				right: 0;
				height: 440px;
			} // img
		} // jumbo-container
	} // size > $small
} // jumbo



// Marketing-statement ------------------------------------------

.marketing-statement {
	@include container;
	padding: 50px gutter();
	max-width: $max-width;
	text-align: center;

	h2 {
		color: $blue;
	}

	h5 {
		color:  $gray;
		font-weight: 400;
		margin: 10px auto;
	}

	h4 {
		display: inline-block;
		@include border-radius(2px);
		margin: 30px auto;
		padding: 15px 25px;
		
		background-color: $blue;
		color: white;
	}

	.marketing-why {
		text-align: left;

		section {
			margin: 50px auto;
		}

		h5 {
			font-weight: bold;
			color: $blue;
			margin-bottom: 10px;
		}

		.next-step {
			text-align: center;
		}

	} // marketing-why


	@include breakpoint($small) {
		@include container;
		max-width: $max-width;

		.marketing-why {
			.left-marketing {
				@include span(6);
			}

			.right-marketing {
				@include span(6);
				@include omega;
			}

		} // marketing-why

	} // size > $small

} // marketing-statement



// Clinic ---------------------------------------

.clinic {
	background: $pale-blue;
	text-align: center;
	#{headings()} {color: $dark-blue; font-weight: bold;}

	.photo-box {
		@include container;
		max-width: $max-width;
		padding: 20px gutter();

		.photo-box-photo {
			img {
				width: 100%;
				@include border-radius(3px);
			} 
		} // photo-box-photo

		h1 {
			border-bottom: 1px solid $very-light-gray;
			padding-bottom: 20px;
		}

		@include breakpoint($small) {
			.photo-box-photo {
				@include span(6);
			}

			.photo-box-text {
				@include span(6);
				@include omega;
			}
		} // at-breakpoint $small 
	} // photo-box

	.doctors {
		@include container;
		max-width: $max-width;
		padding: 20px gutter();

		text-align: center;
		#{headings()} {color: $dark-blue;}

		.doctor {
			margin: 35px 0;

			img {
				width:  125px;
				height: 125px;
				@include border-radius(50%);
				padding: 7px;
				background: $light-blue;
				border: 1px solid $blue;
			} // img
		} // .doctor

		@include breakpoint($small) {

			.doctor {

				@include span(4);
				
				&last-of-type {
					@include omega;
				}

				img {
					width: 175px;
					height: 175px;
				}

				p {text-align: left;}
			} // .doctor
		} // breakpoint $small

	} // .doctors


} // clinic



// Travel ---------------------------------------

.travel {
	border-top: 5px solid $light-blue;
}

// FAQ ------------------------------------------
.faq-header {
	margin: 30px 0 70px 0;
	h2 {
		padding: 10px 0;
		border-bottom: 1px solid $light-gray;
	}
} // .faq-header
#left-menu {
	@include span(3);
	background: $blue;
	padding: 0;
	@include box-shadow($shadow-color 5px 5px 25px);
	@include border-radius(3px);
	
	ul {
		li {
			padding: 10px 2em;
			border-top: 1px solid $light-blue;
			border-bottom: 1px solid darken($blue, 15%);
			a {
				color: $pale-blue;
			} // a
			&:hover {
				background-color: $dark-blue;
				border-top: 1px solid darken($blue, 30%);
				@include transition(all 0.25s);
			}
		} // li
	} // ul
} // .left-menu

#answer-set {
	@include span(8);
	@include omega;

	.answers {
		margin-bottom: 50px;

		h3 {
			margin-bottom: 20px;
			color: lighten($red, 10%);
		}

		.faq-item {
			margin-bottom: 40px ;

			p {
				margin-top: 0;
			}
		} // .faq-item
	} // .answers
}