// Susy setup -------------------------------------------
$total-columns               	: 12;
$column-width       					: 6em;
$gutter-width 								: 4em;
$grid-padding 								: $gutter-width;

@include border-box-sizing;



// Header -------------------------------------------------

header {
	width: 100%;

	.header-container {
		padding: 0;
		
		.branding {

			@include clearfix;
			@include container;
			max-width: $max-width;
			height: 50px;
			padding: auto 2.5%;

			i {
				display: block;
				line-height: 50px;
				float: left;
				font-size: 2.5rem;
				color: $blue;
			}
			
			h3 {
				display: inline-block;
				line-height: 50px;
				vertical-align: middle;
				color: $blue;
				margin-left: 20px;
				span { color:  $light-gray;}
				@include clearfix;
			}

			
		} // branding

		.navbar {

			@include container;
			max-width: $max-width;
			.navbar-box {
				margin-bottom: 20px;
				ul {
					li {
						padding: 0 5%;
						
						vertical-align: middle;
						a {
							display: inline-block;
							color: $gray;
							padding: 10px 0;
							border-bottom: 5px solid $light-blue;
							font-size: 1.25rem;
							&:hover {
								@include transition(all 0.5s);
								border-bottom: 5px solid $red;
							}
						} // a
					} // li
				} // ul
			} // navbar-box
		} // navbar


	} // header-container

	@include at-breakpoint($small) {
		.header-container {
			.navbar {
				margin-top: 20px;
				.navbar-box {
					ul {

						@include horizontal-list;
						li { 
							padding: 10px 20px;
							border-bottom: none;
						}
					} // ul
				} // navbar-box
			} // navbar
		} // header-container
	} // > $small

} // header

// Jumbo ---------------------------

.jumbo {
	display: block;
	width: 100%;
	height: 500px;

	@include background(image-url('countryside.jpg'));
	background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
	
	.jumbo-container {
		@include container;
		max-width: $max-width;

		.jumbo-marketing {
			padding: 30px 5%;
		  h1 {
		  	color: white;
		  	font-weight: 400;
		  	line-height: 1.25;
		  	@include text-shadow(#555 -1px 1px 2px);
		  }
	  } // jumbo-marketing

		@include at-breakpoint($small) {
			height: 500px;

			.jumbo-marketing {
				width: 50%;
				float: left;
				padding: 50px 0 0 0;

			} // jumbo-marketing

			.jumbo-image {
				position: relative;
				width: 50%;
				height: 500px;
				float: right;
				img {
					position:  absolute;
					bottom: 0;
					height: 540px;

				}
			} // jumbo-image
		} // > $small
	} // jumbo-container
} // jumbo

// Marketing-statement ------------------------------------------

.marketing-statement {
	@include container;
	padding: 30px 5%;
	text-align: center;
	border-bottom: 5px solid $blue;
	border-top: 5px solid $gray;
	h2 {
		color: $blue;
		margin-bottom: 10px;
	}

	h5 {
		color:  $gray;
		font-weight: 400;
		margin-bottom: 10px;
		span {
			font-weight: 400;
		}
	}

	h4 {
		display: inline-block;
		@include border-radius(2px);
		@include rotate(10deg);
		margin: 30px auto;
		width: 150px;
		height: 60px;
		line-height: 60px;
		background-color: $blue;
		color: white;
	}

	.marketing-why {
		@include container;
		text-align: left;

		section {
			margin: 50px auto;
		}

		h5 {
			font-weight: 400;
			color: $blue;
			margin-bottom: 10px;
		}

		p {
			font-weight: 300;
			color: $dark-gray;
		}

		.left-marketing {
			@include span-columns(6, 12);
		}

		.right-marketing {
			@include span-columns(6 omega, 12);
		}

		.next-step {
			text-align: center;
		}

		

	} // marketing-why
} // marketing-statement


// Clinic ---------------------------------------

.clinic {
	display: block;
	width: 100%;
	height: 700px;

	@include background(image-url('marketing-gabinet.jpg'));
	color: white;
	background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;

  
} // clinic


// Travel ---------------------------------------

.travel {
	border-top: 5px solid $light-blue;
}