// Susy setup -------------------------------------------

$susy: (
columns      	: 12,
math 			: fluid,
);

$grid-padding	: 1em;

@include global-box-sizing;
body {
	@include show-grid(background);
}

// Header -------------------------------------------------

header {

	.header-container {
		text-align: center;

		.branding {
			margin: 10px auto;
			
			h2 {
				color: $blue;
				span { color:  $light-gray;}
			}
			h6 {color: $dark-gray;}
		} // branding

		.navbar {
			li {
				padding: 0 5%;
				background: $yellow;
				vertical-align: middle;
				border-bottom: 1px solid lighten($yellow, 10%);
				&:last-of-type {
					border-bottom: none;
				}
				a {
					display: inline-block;
					color: white;
					padding: 10px 0;
					font-size: 1.25rem;
				} // a
			} // li
		} // navbar

	} // header-container

	@include breakpoint($small) {
		.header-container {
			text-align: left;
			padding: 0 $grid-padding;

			.branding {
				@include container;
				max-width: $max-width;
			}
			.navbar {
				@include container;
				max-width: $max-width;
				
				.navbar-box {
					@include horizontal-list;
					margin-bottom: 20px;

					li { 
						padding: 10px 40px 10px 0;
						background: none;
						border-bottom: none;
						a {
							border-bottom: 5px solid $yellow;
							color: $gray;
							&:hover {
								@include transition(all 0.25s);
								border-bottom: 5px solid $blue;
							}
						} // a							
					} // li
				} // navbar-box
			} // navbar
		} // header-container
	} // > $small

} // header

// Jumbo ---------------------------

.jumbo {

	width: 100%;
	height: 300px;
	text-align: center;
	overflow: hidden;

	@include background(image-url('countryside.jpg'));
	@include center-background;
	
	.jumbo-container {
		position: relative;
		max-width: $max-width;
		height: 300px;
		padding: 0 $grid-padding;
		
		.jumbo-marketing {
			padding-top: 10px;
			h1 {
			  	color: white;
			  	font-weight: 200;
			  	line-height: 1.25;
  				@include text-shadow(#555 -1px 1px 2px);
			}
	  	} // jumbo-marketing

  		img {
  			position: absolute;
  			display: block;
  			bottom: 0;
  			left: 0;
  			right:  0;
  			margin: auto;
  			height: 200px;
  		}
	 
	} // jumbo-container

	@include breakpoint($small) {
		height: 500px;
		text-align: left;

		.jumbo-container {
			@include container;
			max-width: $max-width;
			height: 100%;
			position: relative;

			.jumbo-marketing {
				padding-top: 50px;
				width: 40%;
				h1 { font-weight: 300;}

			} // jumbo-marketing
		
			img {			
				position: absolute;
				margin-left: 450px;

				height: 540px;
			} // img
		} // jumbo-container
	} // size > $small
} // jumbo



// Marketing-statement ------------------------------------------

.marketing-statement {
	@include container;
	padding: 30px 1rem;
	max-width: $max-width;
	text-align: center;

	h2 {
		color: $blue;
		margin-bottom: 10px;
	}

	h5 {
		color:  $gray;
		font-weight: 400;
		margin-bottom: 10px;
	}

	h4 {
		display: inline-block;
		@include border-radius(2px);
		margin: 30px auto;
		padding: 15px 25px;
		
		background-color: $blue;
		color: white;

		

	}

	.marketing-why {
	
		text-align: left;

		section {
			margin: 50px auto;
		}

		h5 {
			font-weight: 400;
			color: $blue;
			margin-bottom: 10px;
		}

		p {
			font-weight: 300;
			color: $dark-gray;
		}

		.next-step {
			text-align: center;
		}

	} // marketing-why


	@include breakpoint($small) {
		@include container;
		max-width: $max-width;


		.marketing-why {
			.left-marketing {
				@include span(6);
				
			}

			.right-marketing {
				@include span(5 of 12);
				@include omega;
			}

		} // marketing-why

	} // size > $small

} // marketing-statement


// Clinic ---------------------------------------

.clinic {
	display: block;
	width: 100%;
	height: 700px;
	background: $blue;

	/*@include background(image-url('marketing-gabinet.jpg'));
	color: white;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;*/

} // clinic

.photo-box {
	@include container;
	padding: 70px 0;

	.photo-box-photo {
		img {
			width: 100%;
		}
	}

	@include breakpoint($small) {
		.photo-box-photo {
			@include span(6);
			
		}

		.photo-box-text {
			@include span(6);
			@include omega;
		}
	} // at-breakpoint $small 
} // photo-box


// Travel ---------------------------------------

.travel {
	border-top: 5px solid $light-blue;
}