// Color definitions ------------------------------------------------------

$white						: #f5f5f5;
$light-gray	      : #aaa;
$gray 		      	: #888;
$dark-gray				: #333;
$light-light-blue	: #D2D9D1;
$pale-blue  			: #AAD5DB;
$light-blue				: #31ADC2;
$blue   	        : #0586A6;
$dark-blue        : #045274;

$small  											: 30em;
$medium 											: 47em;
$large 												: 75em;		

$max-width 										: 1440px;