// Color definitions ------------------------------------------------------

$gray 		      	: #534A44;
$light-beige  		: #F7EFE7;
$red    					: #E95A3E;
$yellow           : #F6A947;
$blue             : #4181A1;

$small  											: 30em;
$medium 											: 47em;
$large 												: 75em;		

$max-width 										: 1440px;