// Color definitions ------------------------------------------------------

$white						: #f5f5f5;
$very-light-gray			: #ccc;
$light-gray	      			: #aaa;
$gray 		      			: #888;
$dark-gray					: #151515;
$light-light-blue			: #D2D9D1;

$red						: #C9523C;
$dark-blue 					: #1481D9;
$blue 						: #5FACF0;
$light-blue 				: #A5D4FE;
$very-light-blue			: #CCE4FE;
$pale-blue 					: #EDF6FF;




$small  					: 30em;
$medium 					: 47em;
$large 						: 75em;		

$max-width 					: 1000px;