/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* line 5, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/_base.scss */
p, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #888888;
}

/* line 14, ../sass/_base.scss */
h1 {
  font-size: 1.5rem;
}

/* line 15, ../sass/_base.scss */
h2 {
  font-size: 1.7rem;
}

/* line 16, ../sass/_base.scss */
h3 {
  font-size: 1.4rem;
}

/* line 17, ../sass/_base.scss */
h4 {
  font-size: 1rem;
}

/* line 18, ../sass/_base.scss */
h5 {
  font-size: 1.3rem;
}

/* line 19, ../sass/_base.scss */
h6 {
  font-size: .5rem;
}

@media (min-width: 30em) {
  /* line 23, ../sass/_base.scss */
  h1 {
    font-size: 3.0rem;
  }

  /* line 24, ../sass/_base.scss */
  h2 {
    font-size: 2.5rem;
  }

  /* line 25, ../sass/_base.scss */
  h3 {
    font-size: 2.0rem;
  }

  /* line 26, ../sass/_base.scss */
  h4 {
    font-size: 1.8rem;
  }

  /* line 27, ../sass/_base.scss */
  h5 {
    font-size: 1.5rem;
  }

  /* line 28, ../sass/_base.scss */
  h6 {
    font-size: 0.8rem;
  }

  /* line 29, ../sass/_base.scss */
  a {
    font-size: 1.2rem;
  }
}
/* line 32, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 34, ../sass/_base.scss */
header, footer {
  clear: both;
}

/* line 37, ../sass/_base.scss */
a.learn-more {
  display: inline-block;
  font-size: 1.4rem;
  padding: 15px 25px;
  vertical-align: middle;
  background-color: transparent;
  color: #f7be3c;
  border: 5px solid #f7be3c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 46, ../sass/_base.scss */
a.learn-more:hover {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  background-color: #f7be3c;
}

/* line 53, ../sass/_base.scss */
.layout {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  width: 90%;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 30em) {
  /* line 53, ../sass/_base.scss */
  .layout {
    width: 100%;
    *zoom: 1;
    max-width: 34em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
  }
  /* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 14, ../../../.rvm/gems/ruby-2.1.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_layout.scss */
body {
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(121, 121, 229, 0.25) 8.47458%, rgba(79, 79, 221, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(121, 121, 229, 0.25) 16.94915%, rgba(79, 79, 221, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(121, 121, 229, 0.25) 25.42373%, rgba(79, 79, 221, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(121, 121, 229, 0.25) 33.89831%, rgba(79, 79, 221, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(121, 121, 229, 0.25) 42.37288%, rgba(79, 79, 221, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(121, 121, 229, 0.25) 50.84746%, rgba(79, 79, 221, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(121, 121, 229, 0.25) 59.32203%, rgba(79, 79, 221, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(121, 121, 229, 0.25) 67.79661%, rgba(79, 79, 221, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(121, 121, 229, 0.25) 76.27119%, rgba(79, 79, 221, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(121, 121, 229, 0.25) 84.74576%, rgba(79, 79, 221, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(121, 121, 229, 0.25) 93.22034%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(121, 121, 229, 0.25) 8.47458%, rgba(79, 79, 221, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(121, 121, 229, 0.25) 16.94915%, rgba(79, 79, 221, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(121, 121, 229, 0.25) 25.42373%, rgba(79, 79, 221, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(121, 121, 229, 0.25) 33.89831%, rgba(79, 79, 221, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(121, 121, 229, 0.25) 42.37288%, rgba(79, 79, 221, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(121, 121, 229, 0.25) 50.84746%, rgba(79, 79, 221, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(121, 121, 229, 0.25) 59.32203%, rgba(79, 79, 221, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(121, 121, 229, 0.25) 67.79661%, rgba(79, 79, 221, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(121, 121, 229, 0.25) 76.27119%, rgba(79, 79, 221, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(121, 121, 229, 0.25) 84.74576%, rgba(79, 79, 221, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(121, 121, 229, 0.25) 93.22034%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(121, 121, 229, 0.25) 8.47458%, rgba(79, 79, 221, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(121, 121, 229, 0.25) 16.94915%, rgba(79, 79, 221, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(121, 121, 229, 0.25) 25.42373%, rgba(79, 79, 221, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(121, 121, 229, 0.25) 33.89831%, rgba(79, 79, 221, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(121, 121, 229, 0.25) 42.37288%, rgba(79, 79, 221, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(121, 121, 229, 0.25) 50.84746%, rgba(79, 79, 221, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(121, 121, 229, 0.25) 59.32203%, rgba(79, 79, 221, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(121, 121, 229, 0.25) 67.79661%, rgba(79, 79, 221, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(121, 121, 229, 0.25) 76.27119%, rgba(79, 79, 221, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(121, 121, 229, 0.25) 84.74576%, rgba(79, 79, 221, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(121, 121, 229, 0.25) 93.22034%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(121, 121, 229, 0.25) 0%, rgba(79, 79, 221, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(121, 121, 229, 0.25) 8.47458%, rgba(79, 79, 221, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(121, 121, 229, 0.25) 16.94915%, rgba(79, 79, 221, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(121, 121, 229, 0.25) 25.42373%, rgba(79, 79, 221, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(121, 121, 229, 0.25) 33.89831%, rgba(79, 79, 221, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(121, 121, 229, 0.25) 42.37288%, rgba(79, 79, 221, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(121, 121, 229, 0.25) 50.84746%, rgba(79, 79, 221, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(121, 121, 229, 0.25) 59.32203%, rgba(79, 79, 221, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(121, 121, 229, 0.25) 67.79661%, rgba(79, 79, 221, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(121, 121, 229, 0.25) 76.27119%, rgba(79, 79, 221, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(121, 121, 229, 0.25) 84.74576%, rgba(79, 79, 221, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(121, 121, 229, 0.25) 93.22034%, rgba(79, 79, 221, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -moz-background-origin: content;
  -o-background-origin: content-box;
  -webkit-background-origin: content;
  background-origin: content-box;
  -moz-background-clip: content;
  -o-background-clip: content-box;
  -webkit-background-clip: content;
  background-clip: content-box;
}

/* line 16, ../sass/_layout.scss */
header {
  width: 100%;
}
/* line 19, ../sass/_layout.scss */
header .header-container {
  padding: 0;
  text-align: center;
}
/* line 23, ../sass/_layout.scss */
header .header-container .branding {
  margin: 10px auto;
}
/* line 25, ../sass/_layout.scss */
header .header-container .branding h2 {
  color: #3991c4;
}
/* line 27, ../sass/_layout.scss */
header .header-container .branding h2 span {
  color: #aaaaaa;
}
/* line 29, ../sass/_layout.scss */
header .header-container .branding h6 {
  color: #333333;
}
/* line 33, ../sass/_layout.scss */
header .header-container .navbar li {
  padding: 0 6%;
  background: #f7be3c;
  vertical-align: middle;
  border-bottom: 1px solid #f9ce6d;
}
/* line 38, ../sass/_layout.scss */
header .header-container .navbar li:last-of-type {
  border-bottom: none;
}
/* line 41, ../sass/_layout.scss */
header .header-container .navbar li a {
  display: inline-block;
  color: white;
  padding: 10px 0;
  font-size: 1.25rem;
}
@media (min-width: 30em) {
  /* line 53, ../sass/_layout.scss */
  header .header-container {
    text-align: left;
  }
  /* line 56, ../sass/_layout.scss */
  header .header-container .branding {
    *zoom: 1;
    max-width: 31em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  /* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
  header .header-container .branding:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 60, ../sass/_layout.scss */
  header .header-container .navbar {
    *zoom: 1;
    max-width: 31em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  /* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
  header .header-container .navbar:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 64, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 20px;
  }
  /* line 62, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box li.last {
    padding-right: 0;
  }
  /* line 68, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box li {
    padding: 10px 40px 10px 0;
    background: none;
    border-bottom: none;
  }
  /* line 72, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box li a {
    border-bottom: 5px solid #f7be3c;
    color: #888888;
  }
  /* line 75, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box li a:hover {
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-bottom: 5px solid #3991c4;
  }
}

/* line 90, ../sass/_layout.scss */
.jumbo {
  width: 100%;
  height: 300px;
  text-align: center;
  overflow: hidden;
  background: url('../images/countryside.jpg?1392246487');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
/* line 106, ../sass/_layout.scss */
.jumbo .jumbo-container {
  max-width: 1200px;
  height: 300px;
  position: relative;
}
/* line 111, ../sass/_layout.scss */
.jumbo .jumbo-container .jumbo-marketing {
  padding-top: 10px;
}
/* line 113, ../sass/_layout.scss */
.jumbo .jumbo-container .jumbo-marketing h1 {
  color: white;
  font-weight: 200;
  line-height: 1.25;
  text-shadow: #555555 -1px 1px 2px;
}
/* line 121, ../sass/_layout.scss */
.jumbo .jumbo-container img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
}
@media (min-width: 30em) {
  /* line 90, ../sass/_layout.scss */
  .jumbo {
    height: 500px;
    text-align: left;
  }
  /* line 137, ../sass/_layout.scss */
  .jumbo .jumbo-container {
    *zoom: 1;
    max-width: 31em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100%;
    position: relative;
  }
  /* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
  .jumbo .jumbo-container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 143, ../sass/_layout.scss */
  .jumbo .jumbo-container .jumbo-marketing {
    padding-top: 50px;
    width: 40%;
  }
  /* line 146, ../sass/_layout.scss */
  .jumbo .jumbo-container .jumbo-marketing h1 {
    font-weight: 300;
  }
  /* line 150, ../sass/_layout.scss */
  .jumbo .jumbo-container img {
    position: absolute;
    margin-left: 450px;
    height: 540px;
  }
}

/* line 164, ../sass/_layout.scss */
.marketing-statement {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 1rem;
  max-width: 1200px;
  text-align: center;
  	/*@include at-breakpoint($small) {
  		@include container;
  		max-width: $max-width;
  		padding: 30px $column-width;
  
  		.marketing-why {
  			.left-marketing {
  				@include span(6);
  				
  			}
  
  			.right-marketing {
  				@include span(6 of 12);
  				@include omega;
  			}
  
  		} // marketing-why
  
  	} // size > $small
  */
}
/* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
.marketing-statement:after {
  content: "";
  display: table;
  clear: both;
}
/* line 170, ../sass/_layout.scss */
.marketing-statement h2 {
  color: #3991c4;
  margin-bottom: 10px;
}
/* line 175, ../sass/_layout.scss */
.marketing-statement h5 {
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}
/* line 181, ../sass/_layout.scss */
.marketing-statement h4 {
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 30px auto;
  padding: 15px 25px;
  background-color: #3991c4;
  color: white;
}
/* line 194, ../sass/_layout.scss */
.marketing-statement .marketing-why {
  text-align: left;
}
/* line 198, ../sass/_layout.scss */
.marketing-statement .marketing-why section {
  margin: 50px auto;
}
/* line 202, ../sass/_layout.scss */
.marketing-statement .marketing-why h5 {
  font-weight: 400;
  color: #3991c4;
  margin-bottom: 10px;
}
/* line 208, ../sass/_layout.scss */
.marketing-statement .marketing-why p {
  font-weight: 300;
  color: #333333;
}
/* line 215, ../sass/_layout.scss */
.marketing-statement .marketing-why .next-step {
  text-align: center;
}

/* line 246, ../sass/_layout.scss */
.clinic {
  display: block;
  width: 100%;
  height: 700px;
  background: #3991c4;
  /*@include background(image-url('marketing-gabinet.jpg'));
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;*/
}

/* line 264, ../sass/_layout.scss */
.photo-box {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0;
}
/* line 38, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
.photo-box:after {
  content: "";
  display: table;
  clear: both;
}
/* line 269, ../sass/_layout.scss */
.photo-box .photo-box-photo img {
  width: 100%;
}
@media (min-width: 30em) {
  /* line 275, ../sass/_layout.scss */
  .photo-box .photo-box-photo {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 280, ../sass/_layout.scss */
  .photo-box .photo-box-text {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

/* line 289, ../sass/_layout.scss */
.travel {
  border-top: 5px solid #47b5f5;
}
