/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_base.scss */
p, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #888888;
}

/* line 12, ../sass/_base.scss */
h1 {
  font-size: 2.5rem;
}
@media (min-width: 30em) {
  /* line 12, ../sass/_base.scss */
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 47em) {
  /* line 12, ../sass/_base.scss */
  h1 {
    font-size: 3.5rem;
  }
}

/* line 17, ../sass/_base.scss */
h2 {
  font-size: 2.5rem;
}

/* line 18, ../sass/_base.scss */
h3 {
  font-size: 2rem;
}

/* line 19, ../sass/_base.scss */
h4 {
  font-size: 1.8rem;
}

/* line 20, ../sass/_base.scss */
h5 {
  font-size: 1.5rem;
}

/* line 21, ../sass/_base.scss */
h6 {
  font-size: 1.2rem;
}

/* line 23, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/_base.scss */
header, footer {
  clear: both;
}

/* line 14, C:/Ruby200/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/_layout.scss */
header {
  width: 100%;
}
/* line 16, ../sass/_layout.scss */
header .header-container {
  padding: 0;
}
/* line 19, ../sass/_layout.scss */
header .header-container .branding {
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  max-width: 124em;
  _width: 124em;
  padding-left: 4em;
  padding-right: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 50px;
  padding: auto 2.5%;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header .header-container .branding:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../sass/_layout.scss */
header .header-container .branding i {
  display: block;
  line-height: 50px;
  float: left;
  font-size: 2.5rem;
  color: #0586a6;
}
/* line 35, ../sass/_layout.scss */
header .header-container .branding h3 {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  color: #0586a6;
  margin-left: 20px;
}
/* line 41, ../sass/_layout.scss */
header .header-container .branding h3 span {
  color: #aaaaaa;
}
/* line 45, ../sass/_layout.scss */
header .header-container .navbar {
  width: 100%;
  background-color: #0586a6;
}
/* line 50, ../sass/_layout.scss */
header .header-container .navbar .navbar-box ul li {
  padding: 10px 5%;
  border-bottom: 1px solid #31adc2;
  vertical-align: middle;
}
/* line 54, ../sass/_layout.scss */
header .header-container .navbar .navbar-box ul li a {
  color: whitesmoke;
}
/* line 56, ../sass/_layout.scss */
header .header-container .navbar .navbar-box ul li a:hover {
  color: #aad5db;
}
@media (min-width: 30em) {
  /* line 74, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box {
    max-width: 34em;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  /* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  header .header-container .navbar .navbar-box:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 78, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box ul {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  /* line 60, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 48, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box ul li:first-child, header .header-container .navbar .navbar-box ul li.first {
    padding-left: 0;
  }
  /* line 49, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box ul li:last-child {
    padding-right: 0;
  }
  /* line 50, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  header .header-container .navbar .navbar-box ul li.last {
    padding-right: 0;
  }
  /* line 81, ../sass/_layout.scss */
  header .header-container .navbar .navbar-box ul li {
    padding: 10px 20px;
    border-bottom: none;
  }
}

/* line 95, ../sass/_layout.scss */
.jumbo {
  display: block;
  width: 100%;
  height: 350px;
  background: url('../images/countryside.jpg?1390666344');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
/* line 109, ../sass/_layout.scss */
.jumbo .jumbo-marketing {
  padding: 30px 5%;
}
/* line 111, ../sass/_layout.scss */
.jumbo .jumbo-marketing h1 {
  color: white;
  font-weight: 200;
  line-height: 1.2;
}
@media (min-width: 30em) {
  /* line 95, ../sass/_layout.scss */
  .jumbo {
    height: 500px;
  }
  /* line 122, ../sass/_layout.scss */
  .jumbo .jumbo-marketing {
    width: 50%;
    float: left;
    padding: 50px 0 0 50px;
  }
  /* line 129, ../sass/_layout.scss */
  .jumbo .jumbo-image {
    position: relative;
    width: 50%;
    height: 500px;
    float: right;
  }
  /* line 134, ../sass/_layout.scss */
  .jumbo .jumbo-image img {
    position: absolute;
    bottom: 0;
    height: 510px;
  }
}

/* line 146, ../sass/_layout.scss */
.marketing-statement {
  *zoom: 1;
  max-width: 124em;
  _width: 124em;
  padding-left: 4em;
  padding-right: 4em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 5%;
  text-align: center;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.marketing-statement:after {
  content: "";
  display: table;
  clear: both;
}
/* line 152, ../sass/_layout.scss */
.marketing-statement h2 {
  color: #0586a6;
  margin-bottom: 10px;
}
/* line 157, ../sass/_layout.scss */
.marketing-statement h5 {
  color: #333333;
  font-weight: 300;
}
/* line 160, ../sass/_layout.scss */
.marketing-statement h5 span {
  font-weight: 400;
}
/* line 165, ../sass/_layout.scss */
.marketing-statement h4 {
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  margin: 30px auto;
  width: 150px;
  height: 60px;
  line-height: 60px;
  background-color: #0586a6;
  color: white;
}
/* line 177, ../sass/_layout.scss */
.marketing-statement .marketing-why {
  *zoom: 1;
  max-width: 124em;
  _width: 124em;
  padding-left: 4em;
  padding-right: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.marketing-statement .marketing-why:after {
  content: "";
  display: table;
  clear: both;
}
/* line 181, ../sass/_layout.scss */
.marketing-statement .marketing-why section {
  margin: 50px auto;
}
/* line 185, ../sass/_layout.scss */
.marketing-statement .marketing-why h5 {
  font-weight: 400;
  color: #0586a6;
  margin-bottom: 10px;
}
/* line 191, ../sass/_layout.scss */
.marketing-statement .marketing-why p {
  font-weight: 300;
  color: #333333;
}
/* line 196, ../sass/_layout.scss */
.marketing-statement .marketing-why .left-marketing {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 200, ../sass/_layout.scss */
.marketing-statement .marketing-why .right-marketing {
  width: 48.27586%;
  float: right;
  margin-right: 0;
  *margin-left: -4em;
  display: inline;
}

/* line 212, ../sass/_layout.scss */
.travel {
  border-top: 5px solid #31adc2;
}
